
.btn-wrapper {
    text-align:center;
    padding: 55px 0 0 0;
    @media (max-width:360px) {
	    padding: 30px 0 0 0;
	
	   }
 
}

.our-work {
    text-transform:uppercase;
    font-family:"Lato Light", Arial;
    color:#fff;
    background:none;
    border:1px solid #fff;
    padding:15px 30px;
    cursor:pointer;
   
}
















