.our-team {
    
    font-family:"Open Sans",Arial;
    display:flex;
    flex-flow:wrap;
    justify-content:space-between;
    
    padding:55px 0 0 0;
    margin-bottom: -35px;;
    
    &__unit {
	margin:0 0 0 0;
	height:425px;
	width:225px;
    }
    
    &__photo {
	width:225px;
	height:225px;
    }
    
    &__title {
	margin:12px 0 0 0;
	font-size:16px;
	text-align:center;
    }
    p {
	font-size:12px;
	line-height:18px;
	text-align:center;
	margin:13px 0 0 0;
    }
    @media (max-width:767px) {
	&__photo {
	    width:215px;
	    height:200px;
	}
	&__unit {
	    width:215px;
	    height:390px;
	}
    }
    @media (max-width:360px) {
	flex-wrap:nowrap;
	flex-direction:column;
	align-items:center;

		&__photo {
	    width:230px;
	    height:230px;
		}
		&__unit {
		    width:230px;
		    height:400px;
		}
    }

}

