

.advantages {
    font-family:"Open Sans",Arial;
    text-align:center;
    
    &__title {
	font-size:44px;
	font-family:"Lato Light",Arial;
	
	padding:50px 0 25px 0;
	margin:0 0 0 0;
    }
    &__short-description {
	margin:0;
	line-height:25px;
	font-size:15px;
	padding:20px 85px 0 85px;
    }
    hr {
	background-color:#626E62;
	color:#626E62;
	width:250px;
    }

    @media (max-width:360px) {
	&__title {
	    font-size:36px;
	    line-height:48px;
	}
	&__short-description {
	    padding:20px 30px 0 30px;
	    font-size:16px;
	    line-height:32px;
	}
	   }
 
}


















